<%include ./partials/header%>


<h1>Login</h1>
<!--form stolen from register file but changed-->
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="type in username"></inptut>
    <input type="password" name="password" placeholder="type in password"></inptut>
    <button>Login</button>
</form>

<%include ./partials/footer%>
